<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
Select from your favorite electronics.
<h1>Taylormade Electronics</h1>
<p>Electronics invented by women for all.</p>
<iframe src="https://blog.hubspot.com/hubfs/refinery29-about-us-page.png" width="1080" height="320" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>

<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>
